@media all {
    body {
        background-color: #CCC;
        font-family: "Palatino", Verdana, serif;
        width: 60%;
        margin: auto;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #014;
    }
    a:link, a:visited, a:active {
        text-decoration: none;
        color: #014;
        font-weight: 400;
    }
    #logo {
        float: right;
    }
    #logo:hover {
        background-color: #FFF;
    }
    .bbg {
        background-color: #EEE;
        padding: 20px;
    }
    dt {
        font-weight: bold;
    }

    /* special classes */
    .s { font-size: 0.8em; }
    .b { font-weight: bold; }
    .done { text-decoration: line-through; }
    .notyet { opacity: 0.2; }
    .mono { font-family: "Courier New", Courier, monospace; }
    .wo { margin-right: 30px; }

    /* university related */
    .hw { border: #247 solid 1px; padding: 0 5px; } /* homework */
    .lv { letter-spacing: 0.1em; margin-right: 20px; } /* course */

    #signature {
        color: #999;
        background-color: #EFEFEF;
        margin: 10px;
        padding: 10px;
    }
}

@media print {
    body {
        width: 100%;
        background-color: #FFF;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #000;
    }
    a:link, a:visited, a:active {
        text-decoration: underline;
        color: #000;
        font-weight: normal;
    }
    a:link:after {
        content: " <" attr(href) ">";
        text-decoration: none;
    }
    .signature, #logo {
        display: none
    }
}
